//Dashboard, Home, and Logout
//Nav section, Header section, and footer section
<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-head">Post</label>
      <textarea id="post-script" name="comment"></textarea> 
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</section>

{{#if Posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each Posts as |post|}}
    {{log post}}
    <div>{{post.title}}</div>

    <div>
   <button type="button" class="delete-post-btn" id="submit" data-delete={{post.id}}>Delete</button>
   
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/post.js"></script>
<script src="/js/edit.js"></script>

{{!-- <script src="/js/dashboard.js"></script> --}}