<h3>Let's get started, shall we?</h3>
<form class="signup-setup">
      <div>
        <label for="email-enlist">Email</label>
        <input type="text" id="email-enlist" />
    </div>
    <div>
        <label for="user-enlist">Username</label>
        <input type="text" id="user-enlist" />
    </div>
    <div>
        <label for="password-enlist">Password</label>
        <input type="password" id="password-enlist" />
    </div>
    <div>
        <button type="submit" id="submit">Submit Info</button>
    </div>
</form>

<script src="/"></script>